# Default ignored files
/../../SafeBoda Rwanda Backend /.idea/shelf/
/../../SafeBoda Rwanda Backend /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../SafeBoda Rwanda Backend /.idea/httpRequests/
